---
import ImageCard from "../components/ImageCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CraftNectar Minecraft Server">
  <div class="craftnectar-header">
    <video
      class="mb-6"
      width="100%"
      height="auto"
      autoplay
      muted
      loop
      id="parkour"
    >
      <source src="/videos/parkour.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay">
      <h1
        class="font-extrabold text-transparent text-6xl bg-clip-text bg-gradient-to-r m-b-0 from-yellow-400 to-amber-600"
      >
        CraftNectar
      </h1>
      <p class="text-gray-500 pt-0 pl-8">Vanilla 1.20.1 Server w/ Plugins</p>
      <p>
        Thanks for considering playing at CraftNectar! We'd love to have you on
        the server! With 32GB of RAM we have plenty of resources for you! We
        have a delightful server packed full of features via plugins. We have
        multiple worlds running concurrently on CraftNectar. At the moment we
        have the following worlds:
      </p>
      <ul class="px-8 list-disc">
        <li>SMP Survival World</li>
        <li>Floating Island Parkour World</li>
        <li>End/Nether</li>
        <li>Doodle Jump vs Game World</li>
        <li>Skyblock</li>
        <li>A Hub World/Giant Castle</li>
      </ul>
      <p>
        We are also packing all the best and latest plugins - including Dynmap,
        Essentials, LuckPerms, Multiverse, Geyser, GSit, DiscordLink, Damage
        Indicators, and GriefPrevention
      </p>
      <p>
        We are building a new community at the moment since we have switched
        over from modded fabric to vanilla/spigot(paper). We are welcoming all
        new members regardless of age or skills, as long as you are a decent
        person you have a place at CraftNectar. I am also giving out VIP/OG
        ranks for newly joining and active members - these ranks will translate
        into some pretty cool perks as time goes on and I implement more and
        more things on the server.I have great things planned for the future of
        CraftNectar, so hop on in today and get to playing!
      </p>
    </div>
  </div>

  <section>
    <div class="container my-12 mx-auto px-4 md:px-12">
      <div class="flex flex-wrap justify-evenly -mx-1 lg:-mx-4">
        <ImageCard title="Custom Items" imageURI="items.png">
          <span
            >We develop our very own items for the server. Using MMO items we're
            able to Lock certian items behind level or attribute requirements.
            In true MMO fashion, weapons have a chance to spawn with unique
            modifiers.</span
          >
        </ImageCard>
        <ImageCard title="Furniture" imageURI="furniture.png">
          <span
            >
            Who needs furniture mods? Offered in the server resource pack, we have plenty of furniture available to make your house a home.
            </span
          >
        </ImageCard>
        <ImageCard
          title="Custom GUI's"
          imageURI="menu.png"
        >
          <span
            >Ugly default GUI's offer a poor user experience in my opinion. That's why I've went through great lenghts in order to provide our
            users with custom GUI's wherever possible - even creating my own where neccessary, such as the server main menu.</span
          >
        </ImageCard>
        <ImageCard title="Custom Pets" imageURI="pets.png">
          <span
            >Like cute little deadly pets? Enjoy flying giant dragons? Come on by, we've got tons of pets!</span
          >
        </ImageCard>
      </div>
    </div>
  </section>
  <section>
    <p>A paragraph</p>
  </section>
</Layout>

<style>
  p {
    @apply p-4;
  }
  .feature {
    width: 100%;
    @apply pl-4;
  }
  .feature span {
    @apply pl-6;
  }
  .feature li {
    list-style: circle;
  }
  .feature a {
    text-decoration: underline;
    @apply text-pink-300;
  }
  .video-overlay {
    position: relative;
    top: 68px;
    color: #f1f1f1;
    width: 80%;
    margin: 0 auto;
  }
  .craftnectar-header {
    width: 100vw;
    position: relative;
  }
  #parkour {
    /* position: absolute; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh + 10%);
    background: rgba(0, 0, 0, 1);
    object-fit: cover;
  }
  video {
    filter: brightness(30%);
  }
</style>
