---
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

const blogEntries = await getCollection('blog');
---

<Layout title="DivNectar">
	<main>
		<h1 class="font-extrabold text-transparent text-6xl bg-clip-text bg-gradient-to-r m-b-0 from-purple-400 to-pink-600">Welcome!</h1>
		<p class="m-t-0 p-t-0 text-gray-100">...to DivNectar.</p>
		<div class="relative">
			<div class="absolute inset-0 flex items-center" aria-hidden="true">
			  <div class="w-full border-t border-gray-300"></div>
			</div>
			<div class="relative flex justify-center">
			  <span class="bg-white px-2 text-sm text-gray-500">Continue</span>
			</div>
		  </div>
		<p>I'm Josh. I go by Sewdohe. I've been a hobbyist developer for about 15 years now. This is probably the 3rd iteration on my personal website, this time with it being built using the AstroJS framework.</p>
		<p>I'm really looking forward to making the website streamlined and clean so I'll actually be motivated to write more blog posts this time around. I promise I actually have alot to teach 😅</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	p {
		padding: 16px;
	}
</style>
