---
import Layout from "../layouts/Layout.astro";
import Chip from "../components/Chip.astro";
---

<Layout title={"Josh Melton - About"}>
  <section class="flex pt-12 pb-24 max-w-6xl md:lg:mx-auto px-8">
    <div class="grid gap-5 lg:grid-cols-3">
      <!-- Left side column -->
      <div class="space-y-5">
        <!-- User Block -->
        <div class="bg-surface rounded-xl">
          <div class="shadow rounded-t-xl overflow-hidden">
            <div
              class="h-32 bg-cover"
              style="background-image: url('./resume-card-bg.png');"
            >
            </div>
          </div>
          <div class="pt-14 p-7 bg-surface rounded-b-xl relative">
            <img
              src="./me.png"
              alt="Avatar"
              style="height: 100px"
              class="rounded-md outline outline-green outline-2 absolute -top-12 h-100px"
            />
            <div class="text-lg font-semibold mb-1.5">Josh Melton</div>
            <div class="text-sm text-gray mb-7">Hobbiest Developer</div>
          </div>
        </div>

        <!-- Information Block -->
        <div class="block-section">
          <div class="bg-surface rounded-xl p-7">
            <h2 class="block-title text-center font-extrabold text-pink">
              Information
            </h2>
            <div class="space-y-2">
              <div class="flex justify-between">
                <div class="text-gray-400">Location</div>
                <div class="font-medium text-right text-gray-600">
                  North Carolina
                </div>
              </div>
              <div class="flex justify-between">
                <div class="text-gray-400">Experience</div>
                <div class="font-medium text-right text-gray-600">8+ Years</div>
              </div>
              <div class="flex justify-between">
                <div class="text-gray-400">Availability</div>
                <div class="font-medium text-right text-gray-600">
                  Seeking Employment
                </div>
              </div>
              <div class="flex justify-between">
                <div class="text-gray-400">Relocation</div>
                <div class="font-medium text-right text-gray-600">No</div>
              </div>
            </div>
          </div>

          <!-- Skills Block -->
          <div class="pt-2 block-section flow-root">
            <div class="bg-surface rounded-xl p-4">
              <h2 class="block-title text-center font-extrabold text-pink">
                Skills
              </h2>
              <div class="m-2 flex flex-wrap justify-start">
                <Chip>JavaScript</Chip>
                <Chip>React</Chip>
                <Chip>SQL</Chip>
                <Chip>HTML/CSS</Chip>
                <Chip>Rust</Chip>
                <Chip>Tailwind</Chip>
                <Chip>APIs</Chip>
                <Chip>Authentication</Chip>
                <Chip>Git/GitHub</Chip>
                <Chip>Angular</Chip>
                <Chip>C#</Chip>
                <Chip>Asp.NET</Chip>
                <Chip>Svelte</Chip>
                <Chip>Astro</Chip>
                <Chip>Styled Components</Chip>
                <Chip>Firebase</Chip>
                <Chip>GatsbyJS</Chip>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side column -->
      <div class="space-y-5 lg:col-span-2">
        <div class="pb-0 block-section">
          <!-- Start About Me Block -->
          <div class="bg-surface rounded-xl p-7">
            <h2 class="block-title font-extrabold text-pink">About me</h2>
            <p class="text-gray-600 mb-5">
              My name is Josh Melton. I started web development very
              young...around 12-13 years old. I still remember quite fondly
              creating my first ugly webpage with a brushed-metal background and
              bold red text. I've evolved <em>quite</em> a bit since then though...however,
              my love for development has only flourished. Years and years later
              I still live, breath, and sleep code. Staying up to date with the newest
              frameworks and learning new syntactical-sugar are some of my favorite
              activities. I've been hoping for years that my experience will speak
              for itself and a company will hire me despite being a self-taught developer.
              Thank you for taking the time to read my about me section!
            </p>

            <div class="flex flex-col space-y-4">
              <a
                href="mailto:sewdohe@protonmail.com"
                class="mail-link social-link-hover"
              >
                <i class="bx bx-at text-xl"></i>
                <span>sewdohe@protonmail.com</span>
              </a>

              <ul class="flex space-x-5">
                <li>
                  <a href="#0" class="social-link-hover">
                    <i class="bx bxl-facebook-circle text-2xl"></i>
                  </a>
                </li>
                <li>
                  <a href="#0" class="social-link-hover">
                    <i class="bx bxl-twitter text-2xl"></i>
                  </a>
                </li>
                <li>
                  <a href="#0" class="social-link-hover">
                    <i class="bx bxl-github text-2xl"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="border-t border-gray-200 my-5"></div>

            <ul class="flex space-x-8 font-medium">
              <li>
                <a
                  href="https://github.com/sewdohe"
                  class="menu-link menu-link-hover">GitHub</a
                >
              </li>
              <li>
                <a href="/blog" class="menu-link menu-link-hover">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
