---
const { players } = Astro.props;

interface PlayerData {
  name?: string | null;
  image?: string | null;
}
---

<div
    class="block min-w-[200px] p-6 m-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
    <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
        All Players:
    </h5>
    <ol>
        {players.map((player) => <li>{player}</li>)}
    </ol>
</div>